<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Syslog-App</title>
        <!-- icon, css -->
        <link
            rel="ico"
            type="image/x-icon"
            href="{% static 'img/favicon.ico' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
        />
    </head>
    <body class="body">
        {% csrf_token %}
        <!-- header  -->
        <div class="header">
            <div class="input_grid">
                <div class="div_text"></div>
                <div class="div_input">
                    <input type="input" class="input" />
                </div>
                <div class="div_btn">
                    <input type="button" class="inp_btn" value="Найти" />
                </div>
                <div class="div_select">
                    <select class="archives">
                        <option class="opt_select">Архивы</option>
                    </select>
                </div>
                <div class="div_info">
                    <p class="p_info"></p>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- content  -->
        <div class="modal">
            <div class="modal_content"></div>
            <a href="#" id="scroll_top" title="Наверх"></a>
            <a href="#" id="scroll_bottom" title="Вниз"></a>
        </div>
        <!-- scripts -->
        <script src="{% static 'js/axios.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/functions.js' %}"></script>
        <script src="{% static 'js/events.js' %}"></script>
        <!--  -->
    </body>
</html>
