/**/
/*-------для всех все сбрасываем-----------*/
body, button, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}
/*--*/
*{
    box-sizing: border-box;
}
/* Заголовк */
.header{
    width: 98%;
    height: 50px;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    background-color: #80D0C7;
    background-image: linear-gradient(160deg, #80D0C7 0%, #80D0C7 100%);
}
/*grid*/
.input_grid{
    display: grid;
    grid-gap: 6px;
    /* сетка */
    grid-template-areas:
        "div_text none none none none"
        "div_input div_btn div_select div_btnclear div_info";
    grid-template-columns: 1fr auto 1fr;
    /*--*/
    width: 410px;
    padding: 1px;
    /*border: 1px solid silver;*/

}
.div_text{
    grid-area: div_text;
}
.div_input{
    grid-area: div_input;
}
.div_btn{
    grid-area: div_btn;
}
.div_select{
    grid-area: div_select;
}
.div_btnclear{
    display: none;
    grid-area: div_btnclear;
}
.div_info{
    grid-area: div_info;
    display: none;
    width: 400px;
    font-size: 15px;  
}
.input{
    border: 0.4px solid silver;
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
}
.inp_btn{
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
}
.archives{
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
}
.div_btnclear{
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
}
/**/
/* Модальное окно */
.modal{
    position: relative; /*Работать отосительно от modal*/   
    left: 0;
    top: 0;
    width: 100%;
}
/*----Контентная часть модального окна: -----*/
.modal_content{
    /**/
    border: 1px solid silver;
    border-radius: 10px;
    /*color: white;*/
    font-weight: 300;
    /*background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/
    width: 98%;
    height: 88vh;
    /*z-index: 2000;*/
    padding: 3px;
    margin: auto;
    font-size: 15px;
    overflow: auto; /* прокрутка  */
    scroll-behavior: smooth; /*плавная прокрутка*/
}
/*------------------*/

/* ссылка Наверх */
#scroll_top {
	display: none;
	position: absolute;
    bottom: 13%;
	right: 3%;
	/* z-index: 1000; */
	width: 32px;
	height: 32px;
	background: url("/static/img/scroll_top.png") 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.8;
}
#scroll_top:hover {
 	opacity: 1;
}
/*ссылка Вниз*/
#scroll_bottom {
    display: none;
	position:absolute;
	bottom: 5%;
	right: 3%;
	/* z-index: 1000; */
	width: 32px;
	height: 32px;
	background: url( "/static/img/scroll_top.png") 50% 50% no-repeat;
	transform: rotate(180deg);
    border-radius: 50%;
	opacity: 0.8;
}
#scroll_bottom:hover {
 	opacity: 1;
}
